body {
    font-family: arial, serif, sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}
h1 {
    font-size: 250%;
    font-weight: lighter;
}
h2 {
    letter-spacing: 0.5px;
}
h3 {
    font-size: 90%;
}
.jaune {
    color:#FFC107 ;
}
.leftZone {
    width: 35%;
    min-width: 300px;
}
.rightZone {
    width: 65%;
    min-width: 600px;
}

.zoneprincipale1 {
    margin-left: 2%;
    width: 100%;
   /* float: right; */
}
.zoneprincipale2 {
    margin-left: 2%;
    /*display:flex;*/
    width: 100%;
   /* float: right; */
}
.zoneprincipale3 {
    margin-left: 2%;
    left: 35%;
    /*display:flex;*/
    width: 100%;
   /* float: right; */
}
main { 
display: flex ;
flex-flow: row-reverse;
justify-content: start;
}
.zonegauche{   
    display:flex;
    flex-direction: column;
    background-color:#FFC107 ;   
    word-wrap: break-word;
    float: left;
    width: 35%;
    min-width: 300px;
}
#blocpage {
    margin: 1em;
 
}
#blocpage2 { 
    margin: 1em 1em 50% 1em;
 
}
.mise_en_page {
    display: flex;
}

.annee {
    display: flex;
    
}
.annee2 {
    display: flex;
    
}

.date {
    display: flex;
    width: 30%;
}

.date > p {
    padding: 20% 10% 0 100%;;
}

.puce {display: flex;
    justify-content: center;
    margin: 4% 2% 0 0%;
    color:#FFC107 ;
}
.puce2 {
    display: flex;
    justify-content: center;
    margin: 4% 2% 0 0%;
    color:#FFC107 ;
}

.etablissement {
    margin-left: 10%;
}
.etablissement2 {
    margin-left: 18%;
}

h4
{
color:#FFC107 ;
text-align: center;
background-color:#263238;
}

.img{ 
margin: auto;
border-radius: 50%;
width: 150px;
height: 150px ;
overflow: hidden;
      }
.blocimage {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
  }

.line {
    
}
#blocdroite {
   
}
.underline 
{
    text-decoration-line: underline ;
    text-decoration-color: #FFC107;
}
#informations > p {
    padding: 8% 15% 8% 15%;
}
.formation  {
    display: flex;
}
.formation2  {
    justify-content: space-between;
    display: flex;
}
#photo {
    background-color:#FFC107 ;
    padding: 5% 0 5% 0;

}
#titre {left: 10px;
    position: relative;
    line-height: 110%;
}
#taillephoto {
    width: 150px;
}
.fa-graduation-cap, .fa-pencil-alt, .fa-suitcase{
    color:#FFC107 ;
    padding-right: 2%;
}
.zone2 {display: flex; 
    top: 50px;
}
.zone1 {display: flex;
    top: 50px;
}
.taches {
    width: 500px;
}
